.speech{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
}

.direction{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: black;
    background-color: blanchedalmond;
}
.direction:hover {
    background-color: brown;
    color: antiquewhite;
}


.NATAYLA{
    color: purple

}
.NATAYLA:hover{
    text-shadow: 0.3em 0.3em 0.8em yellow;
    border: 0.25em solid purple;
}
.LOMOV{
    color:salmon

}
.LOMOV:hover{
    text-shadow: 0.3em 0.3em 0.8em greenyellow;
    border: 0.25em solid orange;
}
.CHUBUKOV{
    color:green

}
.CHUBUKOV:hover{
    text-shadow: 0.3em 0.3em 0.8em red;
    border: 0.25em solid yellow;
}
.table{
    border: 0.5em solid black;
    color: darkolivegreen;
    text-align: middle;
    padding: 0.25em 0.25em 0.25em 0.25em;
    margin:  0.25em 0.25em 0.25em 0.25em;
}
.table tr:nth-child(even){
    background-color: aquamarine;
}
.table tr:nth-child(odd){
    background-color: lightcoral;

}
